.is-active {
  position: relative;
  font-weight: bold;
}

.is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  /*bottom: 0;
  left: 0;*/
  background-color: rgb(255,64,129);
  left: 22%;
}

.is-active:after{
    margin-left: -6% !important;
}
